@model PRESCRIPTIONS_RX.Models.Prescription

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PresciptionId" />
            <div class="form-group">
                <label asp-for="PatientSsn" class="control-label"></label>
                <select asp-for="PatientSsn" class="form-control" asp-items="ViewBag.PatientSsn"></select>
                <span asp-validation-for="PatientSsn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescribingPhysician" class="control-label"></label>
                <select asp-for="PrescribingPhysician" class="form-control" asp-items="ViewBag.PrescribingPhysician"></select>
                <span asp-validation-for="PrescribingPhysician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionDate" class="control-label"></label>
                <input asp-for="PrescriptionDate" class="form-control" />
                <span asp-validation-for="PrescriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugTradeName" class="control-label"></label>
                <select asp-for="DrugTradeName" class="form-control" asp-items="ViewBag.DrugTradeName"></select>
                <span asp-validation-for="DrugTradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
